$fontfamily:'Gilroy', sans-serif;
$colobg: #040B16;
$colorText: #F9F9F9;
$colorSpan:#C9EA32;
$colorTextDark:#040B16;
$formBg:rgba(255, 255, 255, 0.05);
$inputBorder:#494949;
$inputColor:#808080;
$itemColorBorder:#B83856;

$titleh1: 54px;
$titleh2: 52px;
$titleh3: 38px;
$titleh4: 34px;

$fzDefault:18px;
$fzM: 16px;
$fzL:24px;
$fzDataName:28px;
$fzDataExperience:12px;
$fzFooterLinck:13px;
$fzTextAdaptiv:20px;
$fzTextAdaptivMini: 14px;
$fzTextAdaptivL: 22px;
$fzTextAdaptivXL: 34px;
$fzTextAdaptivXXL: 42px;
$fzTextAdaptivXXXL: 45px;

